<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- for spring security(ajax) -->
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <!-- css -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <link rel="stylesheet" href="./mercari.css"/>
  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>Rakus Items</title>
</head>
<body>
  <nav th:insert="header :: frag_header"></nav>

  <div id="main" class="container-fluid">
    <!-- addItem link -->
    <div id="addItemButton">
      <a class="btn btn-default" href="./add.html" th:href="@{/to-add}"><i class="fa fa-plus-square-o"></i> Add New Item</a>
    </div>

    <!-- 検索フォーム -->
    <div id="forms">
      <form action="" th:action="@{/}" class="form-inline" role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="name" name="name" placeholder="item name" th:value="${searchName}">
        </div>
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group">
          <select class="form-control" name="parentId" id="parent">
            <option th:if="${parentCategory}" th:value="${parentCategory.id}" th:text="${parentCategory.name}"></option>
            <option th:unless="${parentCategory}" th:value="0">- parentCategory -</option>
            <option th:each="parentCategory:${parentCategoryList}" th:value="${parentCategory.id}" th:text="${parentCategory.name}">parentCategory1</option>
          </select>
          <select class="form-control" name="childId" id="child">
          	<option th:if="${childCategory}" th:value="${childCategory.id}" th:text="${childCategory.name}"></option>
            <option th:unless="${childCategory}" th:value="0">- childCategory -</option>
            <option th:each="childCategory:${childCategoryList}" th:value="${childCategory.id}" th:text="${childCategory.name}"></option>
          </select>
          <select class="form-control" name="grandChildId" id="grandChild">
          	<option th:if="${grandChildCategory}" th:value="${grandChildCategory.id}" th:text="${grandChildCategory.name}"></option>
            <option th:unless="${grandChildCategory}" th:value="0">- grandChildCategory -</option>
            <option th:each="grandChildCategory:${grandChildCategoryList}" th:value="${grandChildCategory.id}" th:text="${grandChildCategory.name}"></option>
          </select>
        </div>
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group">
          <input type="text" class="form-control" name="brand" placeholder="brand" th:value="${searchBrand}">
        </div>
        <div class="form-group"></div>
        <button type="submit" class="btn btn-default"><i class="fa fa-angle-double-right"></i> search</button>
      </form>
    </div>

    <!-- pagination -->
    <div class="pages">
      <nav class="pzage-nav">
        <ul class="pager">
       		<li th:unless="${pageNumber==1}" class="previous"><a href="#" th:href="@{'/?pageNumber='+${pageNumber-1}
       			+'&parentId='+${parentId}
       			+'&childId='+${childId}+'&grandChildId='+${grandChildId}+'&name='+${searchName}
       			+'&brand='+${searchBrand}}">&larr; prev</a></li>
	       	<li th:unless="${pageNumber==totalPageNumber}" class="next"><a href="#" th:href="@{'/?pageNumber='+${pageNumber+1}
	       		+'&parentId='+${parentId}
       			+'&childId='+${childId}+'&grandChildId='+${grandChildId}+'&name='+${searchName}
       			+'&brand='+${searchBrand}}">next &rarr;</a></li>      
       	</ul>
      </nav>
    </div>

    <!-- table -->
    <div class="table-responsive">
      <table id="item-table" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>name</th>
            <th>price</th>
            <th>category</th>
            <th>brand</th>
            <th>cond</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item:${itemList}">
            <td class="item-name"><a href="./detail.html" th:href="@{'/show-item-detail?itemId='+${item.id}}"><span th:text="${item.name}">Keyboard</span></a></td>
            <td class="item-price"><span th:text="${item.price}">52.0</span></td>
            <td class="item-category">
            	<a href="" th:href="@{'/?parentId='+${item.parent.id}
       					+'&childId='+${childId}+'&grandChildId='+${grandChildId}+'&name='+${searchName}
       					+'&brand='+${searchBrand}}" th:text="${item.parent.name}">Electronics</a> 
            	/ <a href="" th:href="@{'/?parentId='+${parentId}
       					+'&childId='+${item.child.id}+'&grandChildId='+${grandChildId}+'&name='+${searchName}
       					+'&brand='+${searchBrand}}" th:text="${item.child.name}">Computers &amp; Tablets</a> 
           		/ <a href="" th:href="@{'/?parentId='+${parentId}
       					+'&childId='+${childId}+'&grandChildId='+${item.grandChild.id}+'&name='+${searchName}
       					+'&brand='+${searchBrand}}" th:text="${item.grandChild.name}">Components &amp; Parts</a>
            </td>
            <td class="item-brand"><a href=""><span th:text="${item.brand}">Razer</span></a></td>
            <td class="item-condition"><span th:text="${item.condition}">3</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- pagination -->
    <div class="pages">
      <nav class="page-nav">
        <ul class="pager">
       		<li th:unless="${pageNumber==1}" class="previous"><a href="#" th:href="@{'/?pageNumber='+${pageNumber-1}
       			+'&parentId='+${parentId}
       			+'&childId='+${childId}+'&grandChildId='+${grandChildId}+'&name='+${searchName}
       			+'&brand='+${searchBrand}}">&larr; prev</a></li>
	       	<li th:unless="${pageNumber==totalPageNumber}" class="next"><a href="#" th:href="@{'/?pageNumber='+${pageNumber+1}
	       		+'&parentId='+${parentId}
       			+'&childId='+${childId}+'&grandChildId='+${grandChildId}+'&name='+${searchName}
       			+'&brand='+${searchBrand}}">next &rarr;</a></li> 
        </ul>
      </nav>
      <!-- ページ番号を指定して表示するフォーム -->
      <div id="select-page">
        <form class="form-inline" th:action="@{/}">
          <div class="form-group">
            <div class="input-group col-xs-6">
              <label></label>
              <input type="hidden" name="parentId" th:value="${parentId}">
              <input type="hidden" name="childId" th:value="${childId}">
              <input type="hidden" name="grandChildId" th:value="${grandChildId}">
              <input type="hidden" name="name" th:value="${searchName}">
              <input type="hidden" name="brandame" th:value="${searchBrand}">
              <input type="text" name="pageNumber" class="form-control" th:placeholder="${#numbers.formatInteger(pageNumber,0,'COMMA')}">
              <!-- 総ページ数 -->
              <div class="input-group-addon">/ <span th:text="${#numbers.formatInteger(totalPageNumber,0,'COMMA')}">20</span></div>
            </div>
            <div class="input-group col-xs-1">
              <button type="submit" class="btn btn-default">Go</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- 検索フォームのソースファイルを読み込み -->
  <script th:src="@{/js/search-form.js}"></script>
</body>
</html>